<div class="card card-plain">
  <div class="card-header">
    <h1 class="text-center">Surveys</h1>
    <div class="row">

      <div class="col-xl-4 col-sm-6">
      </div>
      <div class="col-xl-4 col-sm-6">
        <div class="input-group">
          <input class="form-control border-left" placeholder="Search" type="text" [(ngModel)]="term">
          <div class="input-group-append">
            <span class="input-group-text transparent">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let item of head" (click)="sortByHeader(item)">{{item.value}}
              <i class="fas" [ngClass]="{'fa-sort-up': (item.key === order && reverse),
                                      'fa-sort-down': (item.key === order && !reverse)}">
              </i>
            </th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="survey && survey.length > 0">
          <tr *ngFor="let item of survey | orderBy: order :reverse | filter:term">
            <td class="text-center">{{item?.name}}</td>
            <td class="text-center">{{item?.gender}}</td>
            <td class="text-center">{{item?.birthDay | date}}</td>
            <td class="text-center">{{item?.postCode}}</td>
            <td class="text-center">{{item?.email}}</td>
            <td class="td-actions text-center">
              <button ngbtooltip="Edit Profile" type="button" class="btn btn-success btn-icon btn-sm ">
                <i class="now-ui-icons ui-2_settings-90"></i>
              </button>
              <button ngbtooltip="Remove" type="button" class="btn btn-danger btn-icon btn-sm ">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
