<div class="card card-plain">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-4 col-sm-6"></div>
      <div class="col-xl-4 col-sm-6">
        <div class="input-group">
          <input class="form-control border-left" placeholder="Search" type="text">
          <div class="input-group-append">
            <span class="input-group-text transparent">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of head">{{item}}</th>
            <i class="fas" [ngClass]="{'fa-sort-up': (item.key === order && reverse),
                                      'fa-sort-down': (item.key === order && !reverse)}">
            </i>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="survey && survey.length > 0">
          <tr *ngFor="let item of survey">
            <td>{{item?.name}}</td>
            <td>{{item?.gender}}</td>
            <td>{{item?.birthDay | date}}</td>
            <td>{{item?.postCode}}</td>
            <td>{{item?.email}}</td>
            <td>
            <button ngbtooltip="Edit Profile" type="button" class="btn btn-success btn-icon btn-sm ">
              <i class="now-ui-icons ui-2_settings-90"></i>
            </button>
            <button ngbtooltip="Remove" type="button" class="btn btn-danger btn-icon btn-sm ">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
