.navbar a:not(.btn):not(.dropdown-item) {
    color: black;
}

.navbar {
    margin-bottom: 0px;
}

.users-icon{
    position: relative;
    text-align: center;
    width: 30px;
    font-size: 16px;
    top: 2px;
}