.navbar a:not(.btn):not(.dropdown-item) {
  color: black;
}

.navbar {
  margin-bottom: 0px;
}

.users-icon {
  position: relative;
  text-align: center;
  width: 30px;
  font-size: 16px;
  top: 2px;
}

.admin-greeting {
  text-transform: none;
}

.navbar-brand img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -2px;
}
