<div class="container" style="margin-top: 150px">
  <div class="row">
    <div class="col-lg-10 margin-auto">
      <div class="row text-center">
        <div class="col-6">
          <label>
            <strong>SUBSCRIPTION STATUS</strong>
          </label>
          <div>
            <strong class="active-label">ACTIVE</strong>
          </div>
        </div>
        <div class="col-6">
          <label>
            <strong>DAYS LEFT</strong>
          </label>
          <div>
            <strong class="active-label">39</strong>
          </div>
        </div>
      </div>
      <div class="row text-center" style="margin-top: 50px;">
        <div class="col-lg-12">
          <strong>PLEASE USE YOUR MOBILE TO RENEW SUBSCRIPTION</strong>
        </div>
        <div class="col-lg-12" style="margin-top: 20px;">
          <button class="btn btn-red" (click)="next()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
