<div class="page_login">
  <div class="page_login-bg">
  </div>
  <div class="page_login-main">
    <div class="page_login-main-inner">
      <h2 class="page_login-header">Reset Password</h2>
      <i [hidden]="!loading" id="cog" class="fas fa-circle-notch"></i>

      <form class="fs-hide" novalidate="">
        <div class="form page_login-form" [hidden]="success">
          <div class="form-item">
            <label for="email" class="form_field">
              <input class="form_field-control" name="email" id="email" type="password" [(ngModel)]="password" placeholder="Password">
            </label>
          </div>
          <div class="form-item">
            <label for="password" class="form_field">
              <input class="form_field-control" name="password" id="password" type="password" value="" [(ngModel)]="repassword" placeholder="Re-type Password">
            </label>
          </div>
        </div>
        <div class="alert alert-success" [hidden]="!success">
          <strong>Success!</strong> Password has been updated!

          <label>Redirect to
            <a [routerLink]="['/']">home page</a>?</label>
        </div>
        <div class="alert alert-danger" [hidden]="!error">
          <strong>Error!</strong> {{error}}
        </div>
        <button [hidden]="success" type="submit" class="button page_login-button button--secondary button--block" (click)="submit()">Submit</button>
      </form>
    </div>
    <!-- <div class="page_login-main-inner" [hidden]="!checkUser">
        <h2 class="page_login-header">Sorry! Your email address already used!</h2>
  
        <button [routerLink]="['/']" type="submit" class="button page_login-button button--secondary button--block" style="margin-bottom: 200px;">Go to Home page</button>
  
      </div> -->
  </div>
</div>
