<header class="flow_header">
  <div class="flow_header-main">
    <div class="flow_header-main-left">
      <div class="flow_header-nav">
        <button class="flow_header-nav-button" (click)="previousSlide()">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
    </div>
    <div class="flow_header-main-center">
      <div class="flow_header-title">
        <span>Question {{slide}} of 7</span>
      </div>
    </div>
    <div class="flow_header-main-right">
      <img src="/assets/images/transparent_femito-01.png" alt="" class="chat-assistant-avatar-img">
    </div>
  </div>
  <div class="flow_header-progress">
    <p>
      <ngb-progressbar type="primary" [value]="percent" height="5px"></ngb-progressbar>
    </p>
    <!-- <div class="flow_header-progress-inner" style="width: 11%;"></div> -->
  </div>
</header>
<div class="quote" [hidden]="!(slide == 0)">
  <div class="row">
    <div class="col-lg-8 margin-auto text-center">
      <span>I’m a</span>
      <div ngbDropdown class="d-inline-block">
        <div ngbDropdownToggle [style.color]="sex == 'gender' ? '#ccc' : '#f65e1b'">
          <span>{{sex}}</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="sex = 'Female'">Female</button>
          <button class="dropdown-item" (click)="sex = 'Male'">Male</button>
        </div>
      </div>
      <div class="born-on">
        <span>born on</span>
        <div class="group-form-input invalid">
          <!-- <input class="datetime" placeholder="dd-mm-yyyy" /> -->
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group cursor-pointer text-center" style="margin-top: -19px; width: 80%">
                <input class="form-control" placeholder="yyyy-mm-dd" readonly (click)="d.toggle()" name="dp" [(ngModel)]="model" ngbDatepicker
                  #d="ngbDatepicker">
                <!-- <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="text-center margin-top-20">
        <button class="btn btn-red" [disabled]="sex == 'gender'" (click)="nextSlide()">next </button>
      </div>
    </div>
  </div>
</div>

<form class="flow-question" [hidden]="!(slide == 1) && !okSex">
  <div class="row text-center">
    <img class="img-responsive d-seperator" src="/assets/images/divider-white.png">
    <div class="promocode-container col-lg-10 margin-auto">
      <h4 style="margin-top: 30px; margin-bottom: 30px;">
        <b>What is your postal code?</b>
      </h4>
      <div class="postal-code" [hidden]="errorPostCode">
        <input type="tel" placeholder="Postal code" class="form-control no-spin " [(ngModel)]="postcode">
      </div>
      <div class="row" [hidden]="!errorPostCode">
        <div class="col-lg-10 margin-auto">
          <p class="text-center">{{errorPostCode}}</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-red" [disabled]="postcode == ''" (click)="checkPostCode()">next </button>
      </div>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 2)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Did you ever consumed pills?</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="user.consumedPill = true; nextSlide()">Yes</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="user.consumedPill = false; nextSlide()">No</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 2)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Do you have preference which to use?</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option1</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option2</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option3</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 3)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Take advantage of generic option?</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option1</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option2</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option3</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 4)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">How often you want to renew your subscription?</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option1</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option2</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Option3</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 5)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Did you experience any serious side effects
        <strong>that made you stop</strong>?</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">No, never had any side effects</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">No, side effects did not make me stop</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Yes</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 6)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Have you had a physical exam with a healthcare provider in the past five years? If so, did the provider also examine
        the genitals? If not, we recommend visiting a healthcare provider before using our services.</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Yes, it was normal</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">Yes, but there were issues.</button>
    </div>
    <div class="flow-choice_list-item">
      <button class="flow-choice_list-link" type="submit" (click)="nextSlide()">No</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 7)">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title">Thank you. You should receive email with your registration details now. Please use the following links depending on
        your platform to download the Service App.</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="download_btn">
      <a href="#">
        <img src="assets/images/apple.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/android.png" alt="">
      </a>
    </div>
  </div>
  <div>
    <button class="btn btn-red" (click)="next()">next </button>
  </div>

</form>
