<header class="flow_header">
  <div class="flow_header-main">
    <div class="flow_header-main-left">
      <div class="flow_header-nav">
        <button class="flow_header-nav-button" (click)="previousSlide()">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
    </div>
    <div class="flow_header-main-center">
      <div class="flow_header-title">
        <span>Question {{slide}} of {{fullStep}}</span>
      </div>
    </div>
    <div class="flow_header-main-right">
      <img src="/assets/images/transparent_femito-01.png" alt="" class="chat-assistant-avatar-img">
    </div>
  </div>
  <div class="flow_header-progress">
    <p>
      <ngb-progressbar type="primary" [value]="percent" height="5px"></ngb-progressbar>
    </p>
    <!-- <div class="flow_header-progress-inner" style="width: 11%;"></div> -->
  </div>
</header>
<form class="flow-question" [hidden]="!(slide == 1)">
  <div class="row text-center">
    <div class="promocode-container col-lg-10 margin-auto">
      <h4 style="margin-top: 30px; margin-bottom: 30px;">
        <b>Tell us about yourself</b>
      </h4>
      <div [hidden]="errorSex">
        <span class="font-weight-bold">I’m a</span>
        <div ngbDropdown class="d-inline-block">
          <div ngbDropdownToggle [style.color]="!survey.gender ? '#ccc' : '#f65e1b'">
            <span>{{survey.gender ? survey.gender : 'gender'}}</span>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="survey.gender = 'Female'">Female</button>
            <button class="dropdown-item" (click)="survey.gender = 'Male'">Male</button>
          </div>
        </div>
        <div class="born-on font-weight-bold">
          <span>born on</span>
          <div class="group-form-input invalid">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group cursor-pointer text-center" style="margin-top: -5px;
                font-size: 17px;
                width: 80%;
            ">
                  <input class="form-control" placeholder="yyyy-mm-dd" readonly (click)="d.toggle()" name="dp" [(ngModel)]="survey.birthDay"
                    ngbDatepicker #d="ngbDatepicker" [minDate]="minDate">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!errorSex">
        <div class="col-lg-10 margin-auto">
          <p class="text-center">{{errorSex}}</p>
        </div>
      </div>
      <div class="text-center margin-top-20">
        <button class="btn btn-red" [disabled]="!survey.gender || survey.birthDay == null" (click)="nextT()">Next</button>
      </div>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 2)">
  <div class="row text-center">
    <div class="promocode-container col-lg-10 margin-auto">
      <h4 style="margin-top: 30px; margin-bottom: 30px;">
        <b>What is your postal code?</b>
      </h4>
      <div class="postal-code" [hidden]="errorPostCode">
        <input type="text" maxlength="8" placeholder="Postal code" class="form-control no-spin" (ngModelChange)="valueChange($event)"
          (keypress)="numberOnly($event)" [ngModel]="survey.postCode" name="postcode">
      </div>
      <div class="row" [hidden]="!errorPostCode">
        <div class="col-lg-10 margin-auto">
          <p class="text-center">{{errorPostCode}}</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-red" [disabled]="survey.postCode == ''" (click)="checkPostCode()">Next</button>
      </div>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == 3)">
  <div class="row text-center">
    <div class="promocode-container col-lg-10 margin-auto ">
      <div [hidden]="errorSex">
        <h4 style="margin-top: 30px; margin-bottom: 30px;">
          <b>What is your email?</b>
        </h4>
        <div class="postal-code" [hidden]="errorEmail">
          <input type="tel" placeholder="Email" class="form-control no-spin " [(ngModel)]="survey.email" name="email">
        </div>
      </div>
      <div class="row" [hidden]="!errorEmail">
        <div class="col-lg-10 margin-auto">
          <p class="text-center">{{errorEmail}}</p>
        </div>
      </div>
      <div class="text-center margin-top-20">
        <button class="btn btn-red" [disabled]="!validateEmail(survey.email)" (click)="checkEmail()">Next</button>
      </div>

      <div class="alert alert-warning" [hidden]="!emailExist" style="margin-top: 30px">
        <strong>Info!</strong> We can see you’ve been registered already, please login with you password here:
        <li class="page_login-links-item" style="margin-top: 10px">
          <a class="page_login-links-link" [routerLink]="['/login']"><strong>LOGIN</strong></a> or
          <a class="page_login-links-link page_login-links-link--highlight" [routerLink]="['/forgot-password']"><strong>I FORGOT MY PASSWORD</strong></a>
        </li>
      </div>
    </div>
  </div>
</form>

<form class="flow-question font-weight-bold" *ngFor="let question of questions; let i = index" [hidden]="!(slide == (i + 4))">
  <div>
    <div class="flow-question-header">
      <div class="flow-question-header-title" [innerHtml]="question.title"></div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="flow-choice_list-item" *ngFor="let option of question.options">
      <button class="flow-choice_list-link" type="submit" (click)="addQuestion(question.title, option.value); nextSlide()">{{option.value}}</button>
    </div>
  </div>
</form>

<form class="flow-question" [hidden]="!(slide == fullStep)">
  <div>
    <div class="flow-question-header text-center">
      <div class="flow-question-header-title">Thank you. You should receive email with your registration details now. Please use the following links depending on
        your platform to download the Service App.</div>
    </div>
  </div>
  <div class="flow-choice_list">
    <div class="download_btn">
      <a href="#">
        <img src="assets/images/apple.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/android.png" alt="">
      </a>
    </div>
    <div>
      <button class="btn btn-red" (click)="next()">Go to Home page</button>
    </div>
  </div>

</form>
