<div class="card card-plain">
  <div class="card-header">
    <h1 class="text-center">Orders</h1>

    <div class="row">
      <div class="col-xl-4 col-sm-6"></div>
      <div class="col-xl-4 col-sm-6">
        <div class="input-group">
          <input class="form-control border-left" placeholder="Search" type="text" [(ngModel)]="term">
          <div class="input-group-append">
            <span class="input-group-text transparent">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let item of head" (click)="sortByHeader(item)">{{item.value}}
              <i class="fas" [ngClass]="{'fa-sort-up': (item.key === order && reverse),
                                          'fa-sort-down': (item.key === order && !reverse)}">
              </i>
            </th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="orders && orders.length > 0">
          <tr class="ng-star-inserted" *ngFor="let order of orders | orderBy: order :reverse | filter:term">
            <td class="text-center">{{order.customerName}}</td>
            <td class="text-center">{{order.email}}</td>
            <td class="text-center">{{order.settlementDate}}</td>
            <td class="text-center">{{order.subscriptionType}}</td>
            <td class="text-center">{{order.endDate}}</td>
            <td class="td-actions text-center">
              <a href="mailto:{{order.email}}" ngbtooltip="Edit Profile" type="button" class="btn btn-success btn-icon btn-sm">
                <i class="far fa-envelope-open email-envelope"></i>
              </a>             
              <button ngbtooltip="Remove" type="button" class="btn btn-danger btn-icon btn-sm" (click)="delete(user._id)">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
