<div class="page_login">
  <div class="page_login-bg">
  </div>
  <div class="page_login-main">
    <div class="page_login-main-inner">
      <h2 class="page_login-header">Verify Password</h2>
      <form class="fs-hide" novalidate="">
        <div class="form page_login-form">
          <div class="form-item">
            <label for="email" class="form_field">
              <input class="form_field-control" name="email" id="email" type="password" [(ngModel)]="user.password" placeholder="Password">
            </label>
          </div>
          <div class="form-item">
            <label for="password" class="form_field">
              <input class="form_field-control" name="password" id="password" type="password" value="" [(ngModel)]="repassword" placeholder="Re-type Password">
            </label>
          </div>
        </div>
        <div class="alert alert-success" [hidden]="!success">
          <strong>Success!</strong> Password has been updated!

            <label>Redirect to <a [routerLink]="['/']">home page</a>?</label>
        </div>
        <div class="alert alert-danger" [hidden]="!error">
          <strong>Error!</strong> {{error}}
        </div>
        <button type="submit" class="button page_login-button button--secondary button--block" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>
</div>
