<div *ngIf="users && users.length > 0" class="card card-plain">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-4 col-sm-6">
        <label class="form_field">
          <span>Search</span>
          <input class="form_field-control" type="text" name="search" placeholder="Search for customer/address/email">
        </label>
        <a class="btn btn-primary">
          <i class="fas fa-filter"> Filter</i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of customerHead" (click)="sortByHeader(item)">{{item.label}} <i class="fas" [ngClass]="{'fa-sort-up': (item.property === order && reverse),
                                                                                                            'fa-sort-down': (item.property === order && !reverse)}"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | orderBy: order :reverse">
            <td *ngIf="user.name">{{user.name.last}} {{user.name.first}}</td>
            <td *ngIf="!user.name"></td>
            <td>{{user.email}}</td>
            <td>{{user.postalCode}}</td>
            <td>{{user.address}}</td>
            <td>{{user.registrationDate}}</td>
            <td>{{user.activeSubscription}}</td>
            <td>{{user.dayLeft}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
