<div *ngIf="users && users.length > 0" class="card card-plain">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-4 col-sm-6"></div>
      <div class="col-xl-4 col-sm-6">
        <div class="input-group">
          <input class="form-control border-left" placeholder="Search" type="text">
          <div class="input-group-append">
            <span class="input-group-text transparent">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of customerHead" (click)="sortByHeader(item)">{{item.label}}
              <i class="fas" [ngClass]="{'fa-sort-up': (item.property === order && reverse),
                                          'fa-sort-down': (item.property === order && !reverse)}">
              </i>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="ng-star-inserted" *ngFor="let user of users | orderBy: order :reverse ">
            <td *ngIf="user.name">{{user.name.last}} {{user.name.first}}</td>
            <td *ngIf="!user.name"></td>
            <td>{{user.email}}</td>
            <td>{{user.postalCode}}</td>
            <td>{{user.address}}</td>
            <td>{{user.registrationDate}}</td>
            <td>{{user.activeSubscription}}</td>
            <td>{{user.dayLeft}}</td>
            <td class="td-actions text-right">
              <button ngbtooltip="Edit Profile" type="button" class="btn btn-success btn-icon btn-sm ">
                <i class="now-ui-icons ui-2_settings-90"></i>
              </button>
              <button ngbtooltip="Remove" type="button" class="btn btn-danger btn-icon btn-sm ">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
